fieldset {
	background-color: #c5ffe9;
	margin: 60px;
	padding: 40px;
	border-radius: 4px;
	border: 3px dotted black;
	width: 50%;
	font-family: Comic;
	font-size: 1.2em;
}
input {
	font-size: 1em;
}

select {
	font-size: 2em;
}

legend {
	font-size: 2em;
	font-weight: bold;
}
